In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import KBinsDiscretizer

In [72]:
aqi = pd.read_csv('AirQuality - AirQualityUCI.csv')
aqi.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

In [73]:
aqi.shape

(9357, 15)

In [74]:
aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
Date             9357 non-null object
Time             9357 non-null object
CO(GT)           9357 non-null float64
PT08.S1(CO)      9357 non-null int64
NMHC(GT)         9357 non-null int64
C6H6(GT)         9357 non-null float64
PT08.S2(NMHC)    9357 non-null int64
NOx(GT)          9357 non-null int64
PT08.S3(NOx)     9357 non-null int64
NO2(GT)          9357 non-null int64
PT08.S4(NO2)     9357 non-null int64
PT08.S5(O3)      9357 non-null int64
T                9357 non-null float64
RH               9357 non-null float64
AH               9357 non-null float64
dtypes: float64(5), int64(8), object(2)
memory usage: 1.1+ MB

In [75]:
aqi = aqi.drop(columns=['Date','Time'], axis =1)
aqi.shape

(9357, 13)

In [76]:
aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 13 columns):
CO(GT)           9357 non-null float64
PT08.S1(CO)      9357 non-null int64
NMHC(GT)         9357 non-null int64
C6H6(GT)         9357 non-null float64
PT08.S2(NMHC)    9357 non-null int64
NOx(GT)          9357 non-null int64
PT08.S3(NOx)     9357 non-null int64
NO2(GT)          9357 non-null int64
PT08.S4(NO2)     9357 non-null int64
PT08.S5(O3)      9357 non-null int64
T                9357 non-null float64
RH               9357 non-null float64
AH               9357 non-null float64
dtypes: float64(5), int64(8)
memory usage: 950.4 KB

In [77]:
aqi.dropna(inplace=True)
aqi.reset_index(inplace=True, drop=True)
aqi = aqi.replace(to_replace=-200, value=np.nan)
aqi['CO(GT)'] = aqi['CO(GT)'].fillna(aqi['CO(GT)'].mean())
aqi['NOx(GT)'] = aqi['NOx(GT)'].fillna(aqi['NOx(GT)'].mean())
aqi.sample(10)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
6488,1.10000,901.0,NaN,3.1,661.0,150.000000,1022.0,71.0,1124.0,714.0,13.3,65.3,0.9948
3497,2.15275,1147.0,NaN,10.6,999.0,176.000000,697.0,158.0,1788.0,915.0,34.7,32.1,1.7410
9115,2.30000,1473.0,NaN,17.0,1210.0,513.000000,462.0,169.0,1686.0,1521.0,20.4,49.8,1.1765
7696,0.50000,951.0,NaN,5.1,769.0,236.000000,856.0,147.0,1000.0,735.0,3.4,62.7,0.4943
4596,0.80000,835.0,NaN,3.6,690.0,122.000000,1183.0,71.0,1257.0,621.0,20.1,47.8,1.1144
4443,2.15275,1229.0,NaN,10.9,1012.0,246.896735,743.0,NaN,1562.0,1103.0,26.1,41.1,1.3705
3228,1.00000,1037.0,NaN,8.2,906.0,75.000000,743.0,59.0,1707.0,1158.0,25.1,46.5,1.4615
451,1.60000,1010.0,146.0,6.5,833.0,91.000000,1070.0,83.0,1332.0,561.0,17.5,27.9,0.5517
5794,2.15275,854.0,NaN,3.8,700.0,98.000000,980.0,56.0,1151.0,665.0,17.0,52.3,1.0009
7221,2.60000,1288.0,NaN,13.9,1112.0,346.000000,560.0,150.0,1492.0,1380.0,14.6,59.6,0.9824

In [78]:
aqi['CO(GT)'].isna().sum()

0

In [79]:
aqi['CO(GT)'].isna().sum()

0

In [80]:
fig, ax = plt.subplot(figsize=(12,8))

plt.scatter(aqi['CO(GT)'], aqi['NOx(GT)'], colors=red)

ax.set(xlabel='NO', ylabel='CO', title='NO vs CO')
ax.grid()
plt.show()

AttributeError: 'AxesSubplot' object has no property 'figsize'

In [81]:
k_bins = KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='uniform')
k_bins

KBinsDiscretizer(encode='ordinal', n_bins=5, strategy='uniform')

In [87]:
k_bins_array = k_bins.fit_transform(aqi[['CO(GT)','NOx(GT)']])
k_bins_array.shape

(9357, 2)

In [98]:
kbins_df = pd.DataFrame(data=k_bins_array, columns=['CO(GT)','NOx(GT)'])
kbins_df.sample(10)

      CO(GT)  NOx(GT)
4535     1.0      1.0
8972     0.0      0.0
7575     1.0      2.0
7011     0.0      1.0
8009     0.0      0.0
1528     0.0      0.0
8961     0.0      0.0
2465     0.0      0.0
9212     0.0      1.0
1271     0.0      0.0

In [99]:
kbins_df['CO(GT)'].unique()

array([1., 0., 2., 3., 4.])

In [100]:
kbins_df['NOx(GT)'].unique()

array([0., 1., 2., 3., 4.])