# Compares the mean of the dependant variable in each category to the reference level, but the intercept is mean across all the data

In [61]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [62]:
iris_Data = pd.read_csv('Iris.csv')
iris_Data.sample(10)
iris_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [63]:
iris_Data = iris_Data.drop(columns='Id', axis =1)

In [64]:
iris_Data.sample(10)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
147            6.5           3.0            5.2           2.0   Iris-virginica
104            6.5           3.0            5.8           2.2   Iris-virginica
128            6.4           2.8            5.6           2.1   Iris-virginica
116            6.5           3.0            5.5           1.8   Iris-virginica
115            6.4           3.2            5.3           2.3   Iris-virginica
146            6.3           2.5            5.0           1.9   Iris-virginica
141            6.9           3.1            5.1           2.3   Iris-virginica
59             5.2           2.7            3.9           1.4  Iris-versicolor
120            6.9           3.2            5.7           2.3   Iris-virginica
10             5.4           3.7            1.5           0.2      Iris-setosa

In [65]:
iris_Data.shape
iris_Data.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [66]:
iris_Data_SEC = iris_Data.drop(columns=['SepalLengthCm','SepalWidthCm','PetalWidthCm'], axis=1)
iris_Data_SEC

     PetalLengthCm         Species
0              1.4     Iris-setosa
1              1.4     Iris-setosa
2              1.3     Iris-setosa
3              1.5     Iris-setosa
4              1.4     Iris-setosa
..             ...             ...
145            5.2  Iris-virginica
146            5.0  Iris-virginica
147            5.2  Iris-virginica
148            5.4  Iris-virginica
149            5.1  Iris-virginica

[150 rows x 2 columns]

In [67]:
iris_Data_SEC.describe()

       PetalLengthCm
count     150.000000
mean        3.758667
std         1.764420
min         1.000000
25%         1.600000
50%         4.350000
75%         5.100000
max         6.900000

In [68]:
# Average Petal lenght of different Species 
iris_species_mean = iris_Data_SEC.groupby(by='Species').mean()
iris_species_mean

                 PetalLengthCm
Species
Iris-setosa              1.464
Iris-versicolor          4.260
Iris-virginica           5.552

In [70]:
iris_species_mean.loc['Iris-versicolor']['PetalLengthCm'] - iris_species_mean.loc['Iris-setosa']['PetalLengthCm']

2.796

In [71]:
iris_species_mean.loc['Iris-virginica']['PetalLengthCm'] - iris_species_mean.loc['Iris-setosa']['PetalLengthCm']

4.087999999999999

In [73]:
mod = ols('PetalLengthCm - Species', data=iris_Data_SEC)
res = mod.fit()
res.summary()

PatsyError: model is missing required outcome variables